*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    box-sizing: border-box;
}

body{
    background-color: #c9daf8;
    color: #000000;
}

ul{
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    flex-direction: line;
    gap: 16px;
    padding: 24px 0px 24px 0px;
}

li {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #dce8fc;
    border: 1px solid;
    font-size: 18px;
}